In [1]:
import pandas as pd
import numpy as np

In [2]:
df_built_env = pd.read_csv("../data/processed/AllProcessedParamsData.csv")
df_wq_cl = pd.read_csv('../data/processed/waterQualityClimate.csv')

In [14]:
water_quality_params = ['Cond', 'DO', 'Discharge', 'TP', 'TSS','eCol'] #'NO2', 'NO3', 'TDS',
built_env_params = ['RoadDensity',
   'LaneDensity', 'GravelDensity', 'AsphaltDensity', 'ConcreteDensity',
   'StateRdDensity', 'CountyRdDensity', 'CityRdDensity', 'ParcelCtDensity',
   'ParcelAvgArea', 'AgPercent', 'CommercialPercent', 'GreenPercent',
   'IndustryPercent', 'ServicePercent', 'ResidentialPercent',
   'VaccantPercent', 'OpenDevPercent', 'LowDevPercent', 'MedDevPercent',
   'HighDevPercent', 'MedianFloors', 'MedianBuiltYr', 'RangeBuiltYr',
   'FootprintDensity', 'UnitDensity']
climate_params = ['tmean', 'ppt', 'ppt_rx1']
soil_params = ['SoilBPercent', 'SoilCPercent', 'SoilDPercent', 'SoilDepth', 'Slope']

In [4]:
df_wq_cl['year']=df_wq_cl['yearMonth'].astype(str).str[:4]

In [10]:
df_wq_cl['month']=df_wq_cl['yearMonth'].astype(str).str[4:]

In [5]:
be = df_built_env[['site_ID']+built_env_params+soil_params]

By Year

In [53]:
wqcl = df_wq_cl.groupby(by=['Site ID','year']).mean().reset_index()[['Site ID','year'] + water_quality_params + climate_params]

In [54]:
WQ_BE_CLM_By_Year = wqcl.merge(be, left_on='Site ID', right_on='site_ID').rename(columns={'Site ID':'Site_ID'}).drop(columns=['site_ID'])

In [55]:
len(WQ_BE_CLM_By_Year)

136

In [56]:
WQ_BE_CLM_By_Year.to_csv('../data/processed/WQ_BE_CLM_By_Year.csv')

In [57]:
WQ_BE_CLM_By_Year.columns

Index(['Site_ID', 'year', 'Cond', 'DO', 'Discharge', 'NO2', 'NO3', 'TDS', 'TP',
       'TSS', 'eCol', 'tmean', 'ppt', 'ppt_rx1', 'RoadDensity', 'LaneDensity',
       'GravelDensity', 'AsphaltDensity', 'ConcreteDensity', 'StateRdDensity',
       'CountyRdDensity', 'CityRdDensity', 'ParcelCtDensity', 'ParcelAvgArea',
       'AgPercent', 'CommercialPercent', 'GreenPercent', 'IndustryPercent',
       'ServicePercent', 'ResidentialPercent', 'VaccantPercent',
       'OpenDevPercent', 'LowDevPercent', 'MedDevPercent', 'HighDevPercent',
       'MedianFloors', 'MedianBuiltYr', 'RangeBuiltYr', 'FootprintDensity',
       'UnitDensity', 'SoilBPercent', 'SoilCPercent', 'SoilDPercent',
       'SoilDepth', 'Slope'],
      dtype='object')

By Month

In [11]:
df_wq_cl

,Unnamed: 0,Site ID,yearMonth,Cond,DO,Discharge,NO2,NO3,TDS,TP,TSS,eCol,tmean,ppt,ppt_rx1,year,month
0,0,ADW01,201604,1617.000000,12.150,5.910000,NaN,NaN,NaN,0.0400,4.4,206.40,7.795957,54.487782,14.350333,2016,04
1,1,ADW01,201605,1148.333333,8.670,24.762953,NaN,NaN,NaN,0.0900,11.2,706.80,15.213870,67.902462,15.871942,2016,05
2,2,ADW01,201606,1333.000000,8.340,0.775000,NaN,NaN,NaN,0.1100,11.2,1175.85,21.351754,28.461971,16.164899,2016,06
3,3,ADW01,201607,774.000000,6.690,2.950000,NaN,NaN,NaN,0.1000,8.0,727.00,24.226334,73.077867,21.169130,2016,07
4,4,ADW01,201608,845.000000,5.805,22.725755,NaN,NaN,NaN,0.0850,60.7,1551.65,24.519465,162.708145,59.369174,2016,08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,807,WR01,201605,923.000000,12.350,NaN,0.019775,0.50055,754.00,0.0330,9.3,125.80,16.021829,70.119236,18.698820,2016,05
808,808,WR01,201606,967.500000,9.165,NaN,0.022885,1.05000,692.25,0.0435,13.5,193.30,21.798704,50.545620,28.850931,2016,06
809,809,WR01,201607,1167.000000,7.950,NaN,0.010460,0.85000,809.25,0.0550,11.0,648.80,24.520104,69.723628,25.709134,2016,07
810,810,WR01,201608,828.000000,8.355,NaN,0.010005,0.55000,568.75,0.0530,11.1,341.00,24.629463,128.696428,48.889087,2016,08
811,811,WR01,201609,750.000000,8.120,NaN,0.008580,0.55000,520.00,0.2845,170.9,1253.80,20.498428,111.864573,36.900827,2016,09

In [9]:
be

,site_ID,RoadDensity,LaneDensity,GravelDensity,AsphaltDensity,ConcreteDensity,StateRdDensity,CountyRdDensity,CityRdDensity,ParcelCtDensity,...,MedianFloors,MedianBuiltYr,RangeBuiltYr,FootprintDensity,UnitDensity,SoilBPercent,SoilCPercent,SoilDPercent,SoilDepth,Slope
0,SGG01,3.809464,7.618927,0.000000,0.000361,0.000019,0.000089,0.000000,0.000295,0.082883,...,6,1935.0,187,0.346624,0.117629,0.891503,0.025067,0.030744,82.966194,2.313563
1,MH11,11.298412,22.596825,0.000016,0.001009,0.000114,0.000158,0.000000,0.000980,0.061052,...,6,1890.0,189,0.241858,0.120249,0.082459,0.000000,0.542363,76.117903,1.842603
2,ADW11,4.656181,27.937087,0.000000,0.000262,0.000207,0.000000,0.000132,0.000337,0.013471,...,4,1956.5,136,0.198700,0.006123,0.000000,0.298514,0.664836,95.000000,0.537583
3,MH05B,2.180107,4.360214,0.000000,0.000220,0.000000,0.000000,0.000000,0.000220,0.028984,...,5,1959.5,189,0.174707,0.134161,0.924126,0.000000,0.074038,83.936887,3.579006
4,Mal02,5.041065,10.082131,0.000000,0.000439,0.000069,0.000182,0.000191,0.000135,0.019134,...,6,1995.0,194,0.153085,0.049605,0.131868,0.078456,0.683493,86.687419,1.114124
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74,BC03,0.013820,0.027640,0.000000,0.000001,0.000000,0.000000,0.000001,0.000000,0.001201,...,5,1986.0,137,0.001684,0.000634,0.458279,0.158852,0.354659,85.016784,0.833982
75,Mill11,0.395112,0.790224,0.000000,0.000040,0.000000,0.000000,0.000040,0.000000,0.001355,...,5,1976.0,199,0.001677,0.000707,0.480779,0.155293,0.238579,82.064877,1.684634
76,BC05,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000981,...,4,1956.0,216,0.001325,0.000371,0.709182,0.066916,0.201930,84.315942,1.224537
77,Mill03,0.140169,0.280338,0.000000,0.000014,0.000000,0.000000,0.000014,0.000000,0.000913,...,5,1980.0,146,0.001035,0.000548,0.664197,0.081137,0.172880,82.592768,1.467020
78,Mill12,0.318454,0.636908,0.000000,0.000032,0.000000,0.000000,0.000032,0.000000,0.000876,...,5,1968.0,218,0.000959,0.000470,0.384139,0.185695,0.357504,89.461221,1.531754

In [17]:
wqcl = df_wq_cl.groupby(by=['Site ID','year','month']).mean().reset_index()[['Site ID','year','month'] + water_quality_params + climate_params]

In [18]:
wqcl

,Site ID,year,month,Cond,DO,Discharge,TP,TSS,eCol,tmean,ppt,ppt_rx1
0,ADW01,2016,04,1617.000000,12.150,5.910000,0.0400,4.4,206.40,7.795957,54.487782,14.350333
1,ADW01,2016,05,1148.333333,8.670,24.762953,0.0900,11.2,706.80,15.213870,67.902462,15.871942
2,ADW01,2016,06,1333.000000,8.340,0.775000,0.1100,11.2,1175.85,21.351754,28.461971,16.164899
3,ADW01,2016,07,774.000000,6.690,2.950000,0.1000,8.0,727.00,24.226334,73.077867,21.169130
4,ADW01,2016,08,845.000000,5.805,22.725755,0.0850,60.7,1551.65,24.519465,162.708145,59.369174
...,...,...,...,...,...,...,...,...,...,...,...,...
807,WR01,2016,05,923.000000,12.350,NaN,0.0330,9.3,125.80,16.021829,70.119236,18.698820
808,WR01,2016,06,967.500000,9.165,NaN,0.0435,13.5,193.30,21.798704,50.545620,28.850931
809,WR01,2016,07,1167.000000,7.950,NaN,0.0550,11.0,648.80,24.520104,69.723628,25.709134
810,WR01,2016,08,828.000000,8.355,NaN,0.0530,11.1,341.00,24.629463,128.696428,48.889087
811,WR01,2016,09,750.000000,8.120,NaN,0.2845,170.9,1253.80,20.498428,111.864573,36.900827

In [24]:
WQ_BE_CLM_By_Month = wqcl.merge(be, left_on='Site ID', right_on='site_ID', how="left").rename(columns={'Site ID':'Site_ID'}).drop(columns=['site_ID'])

In [25]:
WQ_BE_CLM_By_Month

,Site_ID,year,month,Cond,DO,Discharge,TP,TSS,eCol,tmean,...,MedianFloors,MedianBuiltYr,RangeBuiltYr,FootprintDensity,UnitDensity,SoilBPercent,SoilCPercent,SoilDPercent,SoilDepth,Slope
0,ADW01,2016,04,1617.000000,12.150,5.910000,0.0400,4.4,206.40,7.795957,...,4.0,1970.0,124.0,0.079704,0.040803,0.00000,0.28839,0.711610,106.40961,0.283882
1,ADW01,2016,05,1148.333333,8.670,24.762953,0.0900,11.2,706.80,15.213870,...,4.0,1970.0,124.0,0.079704,0.040803,0.00000,0.28839,0.711610,106.40961,0.283882
2,ADW01,2016,06,1333.000000,8.340,0.775000,0.1100,11.2,1175.85,21.351754,...,4.0,1970.0,124.0,0.079704,0.040803,0.00000,0.28839,0.711610,106.40961,0.283882
3,ADW01,2016,07,774.000000,6.690,2.950000,0.1000,8.0,727.00,24.226334,...,4.0,1970.0,124.0,0.079704,0.040803,0.00000,0.28839,0.711610,106.40961,0.283882
4,ADW01,2016,08,845.000000,5.805,22.725755,0.0850,60.7,1551.65,24.519465,...,4.0,1970.0,124.0,0.079704,0.040803,0.00000,0.28839,0.711610,106.40961,0.283882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
807,WR01,2016,05,923.000000,12.350,NaN,0.0330,9.3,125.80,16.021829,...,4.0,1955.0,178.0,0.083313,0.039205,0.07467,0.00000,0.233002,76.00000,0.816600
808,WR01,2016,06,967.500000,9.165,NaN,0.0435,13.5,193.30,21.798704,...,4.0,1955.0,178.0,0.083313,0.039205,0.07467,0.00000,0.233002,76.00000,0.816600
809,WR01,2016,07,1167.000000,7.950,NaN,0.0550,11.0,648.80,24.520104,...,4.0,1955.0,178.0,0.083313,0.039205,0.07467,0.00000,0.233002,76.00000,0.816600
810,WR01,2016,08,828.000000,8.355,NaN,0.0530,11.1,341.00,24.629463,...,4.0,1955.0,178.0,0.083313,0.039205,0.07467,0.00000,0.233002,76.00000,0.816600
811,WR01,2016,09,750.000000,8.120,NaN,0.2845,170.9,1253.80,20.498428,...,4.0,1955.0,178.0,0.083313,0.039205,0.07467,0.00000,0.233002,76.00000,0.816600

In [26]:
WQ_BE_CLM_By_Year.to_csv('../data/processed/WQ_BE_CLM_By_Month.csv')

In [27]:
WQ_BE_CLM_By_Year.columns

Index(['Site_ID', 'year', 'month', 'Cond', 'DO', 'Discharge', 'TP', 'TSS',
       'eCol', 'tmean', 'ppt', 'ppt_rx1', 'RoadDensity', 'LaneDensity',
       'GravelDensity', 'AsphaltDensity', 'ConcreteDensity', 'StateRdDensity',
       'CountyRdDensity', 'CityRdDensity', 'ParcelCtDensity', 'ParcelAvgArea',
       'AgPercent', 'CommercialPercent', 'GreenPercent', 'IndustryPercent',
       'ServicePercent', 'ResidentialPercent', 'VaccantPercent',
       'OpenDevPercent', 'LowDevPercent', 'MedDevPercent', 'HighDevPercent',
       'MedianFloors', 'MedianBuiltYr', 'RangeBuiltYr', 'FootprintDensity',
       'UnitDensity', 'SoilBPercent', 'SoilCPercent', 'SoilDPercent',
       'SoilDepth', 'Slope'],
      dtype='object')

In [32]:
len(WQ_BE_CLM_By_Year[~WQ_BE_CLM_By_Year.TP.isna()])

756

In [39]:
WQ_BE_CLM_By_Year.TP.describe()

count    756.000000
mean       0.108198
std        0.363129
min        0.008000
25%        0.040000
50%        0.060300
75%        0.100000
max        7.656333
Name: TP, dtype: float64

In [40]:
WQ_BE_CLM_By_Year.Discharge.describe()

count     528.000000
mean       47.043751
std       176.717995
min        -0.970000
25%         1.707806
50%         5.073020
75%        18.944694
max      1914.640000
Name: Discharge, dtype: float64

In [36]:
WQ_BE_CLM_By_Year[WQ_BE_CLM_By_Year.TSS.isna() & ~WQ_BE_CLM_By_Year.TP.isna()]

,Site_ID,year,month,Cond,DO,Discharge,TP,TSS,eCol,tmean,...,MedianFloors,MedianBuiltYr,RangeBuiltYr,FootprintDensity,UnitDensity,SoilBPercent,SoilCPercent,SoilDPercent,SoilDepth,Slope
257,ADW24,2017,08,NaN,NaN,NaN,0.01,NaN,689.6,21.270889,...,5.0,1986.5,96.0,0.008611,0.004873,0.023324,0.365658,0.434503,95.0,0.292102

In [37]:
len(WQ_BE_CLM_By_Year[~WQ_BE_CLM_By_Year.eCol.isna()])

667